<form
  [formGroup]="appointmentForm"
  class="form"
  (ngSubmit)="sendAppointmentInfo()"
>
  <div class="form__field-container">
    <p>
      <mat-form-field>
        <mat-label>Nombres</mat-label>
        <input matInput formControlName="firstName" />
        <mat-icon matSuffix>edit</mat-icon>
        <mat-error>Introduzca su nombre</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Apellidos</mat-label>
        <input matInput formControlName="lastName" />
        <mat-icon matSuffix>edit</mat-icon>
        <mat-error>Introduzca sus apellidos</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Correo electronico</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-icon matSuffix>mail</mat-icon>
        <mat-error>Introduzca su direccion de correo electronico</mat-error>
      </mat-form-field>
    </p>
    <p>
      <app-phone-form formControlName="phoneNumber"></app-phone-form>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Documento de identidad</mat-label>
        <input matInput formControlName="dni" />
        <mat-icon matSuffix>assignment_ind</mat-icon>
        <mat-error>Introduzca el documento de identidad</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>No. de pasaporte</mat-label>
        <input matInput formControlName="passportNumber" />
        <mat-icon matSuffix>assignment_ind</mat-icon>
        <mat-error>Introduzca el numero de pasaporte</mat-error>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field floatLabel="always">
        <mat-label>Fecha de nacimiento</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          formControlName="birthDate"
          placeholder="DD/MM/AAAA"
          [min]="minDate"
          [max]="maxDate"
          readonly
        />
        <mat-hint>Seleccione una fecha</mat-hint>
        <mat-error>Seleccione una fecha</mat-error>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker
          #picker
          startView="multi-year"
          [startAt]="startDate"
          disabled="false"
        ></mat-datepicker>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Genero</mat-label>
        <mat-select formControlName="gender">
          <mat-option
            *ngFor="let gender of genderOptions; trackBy: trackByIndexFn"
            [value]="gender"
          >
            {{ gender | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error>Seleccione una opcion</mat-error>
        <mat-hint>Seleccione una opcion</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Religion</mat-label>
        <mat-select formControlName="religion">
          <mat-option
            *ngFor="let religion of religionOptions; trackBy: trackByIndexFn"
            [value]="religion"
          >
            {{ religion | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error>Seleccione una opcion</mat-error>
        <mat-hint>Seleccione una opcion</mat-hint>
      </mat-form-field>
    </p>
    <p>
      <mat-form-field>
        <mat-label>Motivo</mat-label>
        <mat-select formControlName="reason">
          <mat-option
            *ngFor="let reason of reasonOptions; trackBy: trackByIndexFn"
            [value]="reason"
          >
            {{ reason | titlecase }}
          </mat-option>
        </mat-select>
        <mat-error>Seleccione el motivo</mat-error>
        <mat-hint>Seleccione una opcion</mat-hint>
      </mat-form-field>
    </p>
  </div>

  <button class="submit-btn" mat-flat-button color="primary" type="submit">
    Enviar
  </button>
</form>
