.navbar {
  justify-content: space-between;

  &__links {
    display: flex;
    gap: 1rem;

    &--link {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}

.active-router {
  background-color: var(--primary-darker-color);
}
