<mat-form-field>
  <mat-label>Favorite food</mat-label>
  <mat-select #selector (selectionChange)="countryChange(selector.value)">
    <mat-option
      *ngFor="let countryCode of countryCodes; trackBy: countryCodesTrackByFn"
      [value]="countryCode"
    >
      <img
        class="flags"
        with="20"
        height="20"
        src="{{ countryCode | flag }}"
        alt="Flag of country: {{ countryCode }}"
      />
      {{ countryCode | uppercase }}
      {{ countryCode | flagEmoji }}
    </mat-option>
  </mat-select>
</mat-form-field>
