:root {
  // Font Families
  --font-family: 'Montserrat', sans-serif;

  // Font Weights
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  // Font Sizes
  --font-size-text: 1.2rem;
  --font-size-title: 2.5rem;
}