.container {
  position: relative;
  width: 100%;
  min-height: calc(100vh - var(--top-bar-height) - 2 * var(--border-padding));
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10%;


    .type-writer {
      font-size: var(--font-size-title);
    }
  }

  .phone {
    display: grid;
    place-content: center;
  }
}

::ng-deep app-auto-typing .text__option {
  color: var(--primary-darker-color);
  font-weight: var(--font-weight-bold);
}
